<h1><%=h @actor.name %> (<%=h @actor.class %>)</h1>

<p>Created <%= distance_of_time_in_words_to_now @actor.created_on %> ago<%= " by #{link_to h(@actor.creator.name), user_path(@actor.creator)}" if @actor.creator %>.</p>

<p>
  Last updated <%= distance_of_time_in_words_to_now @actor.updated_on %> ago.
</p>

<p>
  <%= @actor.active? ? 'Active' : 'Inactive' %>
</p>


<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>