body {
  background-color: #fff; 
  color: #333; 
  margin:0;
  padding:0;
}


body, p, ol, ul, td {
  font-family: "Helvetica Neue", arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

td{
  border:1px solid #ccc;
  padding:3px;
}
th{
  padding:3px;
  border-bottom:2px solid #aaa;
  text-align:left;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Gill Sans', 'Trebuchet MS' sans-serif;
}

a {  }
a:visited {  }
a:hover { }

a.action {
  font-size:80%;
}

#header{
  margin:0;
  padding:20px 20px 0;
  border-bottom: 3px solid #aaa;
  background-color: #ccc;
}

#header h1{
  margin:0 0 20px;
  padding:0;
}

#navigation{
  margin:0;
  padding:0;
}

#navigation li{
  list-style:none;
  border:1px solid #888;
  float:left;
  padding:5px;
  background:#fff;
  position:relative;
  top:3px;
  margin:0;
}

#navigation li.current{
  border-bottom:1px solid #fff;
  font-weight:bold;
}

#content{
  padding:10px 20px 20px 20px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

div.clearfix{
  clear:both;
}