body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ececec;
	margin-top: 5px;
}

h1 {
	margin-top: 4px;
	margin-bottom: 4px;		
	font-size: 125%;
	font-weight: bold;
	color: orange;
}

h2 {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 120%;
}

h3 {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 115%;
}

h4 {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 110%;
}

h5 {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 105%;
}

h6 {
	font-size: 100%;
	font-weight: bold;
}

.menu_head {
	font-size: 80%;
	text-align: center;
	border-right: 1px solid;
	width: 100px;

}

.menu_head_wide {
	font-size: 80%;
	text-align: center;
	border-right: 1px solid;
	width: 200px;
}

.menu_head_extra_wide {
	font-size: 80%;
	text-align: center;
	border-right: 1px solid;
	width: 300px;		
}

.bill_options {
	font-size: 80%;
}

.pork_fat {
	font-weight: bold;
	color:  red;
}

.pork_lean {
}

.table_bold_item {
	font-weight: bold;
	width: 180px;
}


.column_caption {
	padding-top: 3px;
	font-weight: bold;
	width: 180px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	vertical-align: middle;
	background-color: #ececec;
}

.column_caption_roll {
	padding-top: 3px;
	font-weight: bold;
	width: 180px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	vertical-align: middle;
	background-color: orange;
}

.action_option {
	width: 200px;
}

#page {
	background-color: #ffffff;
	width: 800px;
	border: 1px solid #3D6686;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}

#menu_bar {
	background-color: #F2AF00;
	padding-top: 2px;
	padding-bottom: 2px;
}

#column_left {
	float: left;
	width: 100px;
	text-align: left;
	font-size: small;
	margin-left: 0px;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: auto;
	padding: 8px;
}

#column_middle {
	border-left: 1px solid #3D6686;
	border-right: 1px solid #3D6686;
	width: 500px;
	text-align: left;
	margin-left: 120px;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

#column_right {
	float: right;
	width: 140px;
	text-align: left;
	font-size: small;
	margin-right: 0px;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: auto;
	padding: 8px;
}


#menu_header {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100px;
}

#item_block {
	background-color: #ececec;
	border: 1px solid #D0D0D0;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 90%;
}

#action_space {
	margin-top: 10px;
	border-top: 1px solid #000000;
	padding-bottom: 10px;
	border-bottom: 1px solid #000000;
}

.thumb_table {
	float: right;
	margin-top: -20px;
}

.thumb_green {
	background-color: #00FF00;
	border: 1px solid #009900;
}

.thumb_red {
	background-color: #FF0000;
	border: 1px solid #990000;
}

#attribution {
	margin-top: 10px;
	font-size: 75%;
}

#earmark_list {
	line-height: 180%;
}

#sponsor_list {
	line-height: 180%;
}

#related_list {
	line-height: 180%;
}
